<div class="container" style="padding:2.5%;">
    <div class="container">
        <a href="https://janja.web.app/">
            <h1 style="text-align:center;">
                <img src="https://res.cloudinary.com/benie/image/upload/v1673225347/Screenshot_from_2023-01-09_03-48-56_z2mvlz.png" height="40" alt="">
            </h1>
        </a>
        <div style="padding:1.5%;">
            <h1>Hello Benie,</h1>
            <p>You have a new reply to a comment on Benie Writes. Here are the details:</p>
            <ul>
                {{stp}} | {{pmp}}
                <a href="https://janja.web.app/stories/{{story.category}}/{{story.title}}/preview/{{story.id}}"><li>{{story.title}}</li></a>
                <a href="https://janja.web.app/poems/{{poem.category}}/{{poem.title}}/read/{{poem.id}}"><li>{{poem.title}}</li></a>
                <h3 style="color:orange">Reply</h3>
                <p>{{reply}}</p>
                <small style="color: blueviolet">replying to:
                <br>
                {{comment.comment}} 
            <br>
            <span style="color:orange">commented by</span> {{comment.commented_by}} on {{comment.date | date}}
            </small>
            </ul>
            <br>
            <p>
                Cheers!
                <br>
                <span style="color:blueviolet;">The Dev Team,</span>
                <br>
                Benie Writes.
            </p>
            <br>
            <div style="text-align:center;">
                <small>2023 | Benson Langat | All rights reserved</small>
            </div>
        </div>
    </div>
</div>