{% extends 'base.html' %}

{% block content %}
<div class="container shadow">
    <br>
    <h1 class="text-center">
        Benie Writes 
        <br>
        <span>
            <h4>API Endpoints</h4>
        </span>
    </h1>
    <br>
    <ol class="bg-light w-50">
        <li><a href="{% url 'all-stories' %}">All stories</a></li>
        <span>
            <ul>
                {% for s in stories %}
                <li><a href="{% url 'story-details' s.id %}"><span><strong>{{s.title}}</strong></span></a></li>
                {% endfor %}
            </ul>
        </span>
        {% if ongoing %}
        <li><a href="{% url 'ongoing-stories' %}">Ongoing stories</a></li>
        <span>
            <ul>
            {% for on in ongoing %}
            <li>
                <li><a href="{% url 'story-details' on.id}"><strong>{{on.title}}</strong></a></li>
            </li>
            {% endfor %}
            </ul>
        </span>
        {% endif %}
        {% if completed %}
        <li><a href="{% url 'completed-stories' %}">Completed stories</a></li>
        <span>
            <ul>
            {% for comp in completed %}
            <li>
                <li><a href="{% url 'story-details' com.id}"><strong>{{com.title}}</strong></a></li>
            </li>
            {% endfor %}
            </ul>
        </span>
        {% endif %}   
        <li><a href="{% url 'all-poems' %}">All poems</a></li>     
        <li><a href="{% url 'notifications' %}">All notifications</a></li>
    </ol>
</div>
{% endblock %}